<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymelead.org/thymeleaf-extras-springsecurity6">
<head th:insert="~{general :: head (pageTitle='Firmy')}"></head>

<body>

<nav th:replace="~{general :: navbar}"></nav>

<div class="container col-xxl-8 px-4 py-5 article-container">
    <h1>Firmy</h1>
    <div>
        <a class="btn btn-outline-light btn-sm px-4 me-md-2" th:href="@{/new_firma}" role="button"><i class="fa-solid fa-plus"></i>Dodaj nową firmę</a>
    </div>

    <table class="table table-striped table-dark table-hover table-centered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">NIP</th>
            <th scope="col">REGON</th>
            <th scope="col">Nr konta</th>
            <th scope="col">E mail</th>
            <th scope="col">Nr klienta</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Telefon</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "f : ${listFirma}">
            <th scope="row" th:text = "${f.nr_firmy}">#</th>
            <th scope="row" th:text = "${f.nazwa}">Nazwa</th>
            <th scope="row" th:text = "${f.nip}">NIP</th>
            <th scope="row" th:text = "${f.regon}">REGON</th>
            <th scope="row" th:text = "${f.nr_konta}">Nr konta</th>
            <th scope="row" th:text = "${f.e_mail}">E mail</th>
            <th scope="row" th:text = "${f.nr_klienta}">Nr klienta</th>
            <th scope="row" th:text = "${f.nazwisko}">Nazwisko</th>
            <th scope="row" th:text = "${f.pierwszy_telefon}">Telefon</th>

            <td>
                <a class="edit" th:href="@{'/edit_firma/' + ${f.nr_firmy}}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="delete" th:href="@{'/delete_firma/' + ${f.nr_firmy}}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   onclick="return confirm('Czy na pewno chcesz skasować ten rekord? Nie będzie można cofnąć tej akcji.');"
                   data-bs-title="Delete"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="~{general :: scripts}"></div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

</body>
</html>