<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{general :: head (pageTitle='Main Client Page')}"></head>

<body>

<nav th:replace="~{general :: navbar}"></nav>

<article>
    <div class="container col-xxl-8 px-4 py-5 article-container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img th:src="@{images/undraw_by_my_car_hnre.svg}" width="500" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    Witaj na stronie głównej Kliencie!
                </h1>
                <p class="lead">
                   Aby skorzystać z bazy danych użyj menu z prawej strony. Jeśli chcesz się wylogować naciśnij przycisk "Wyloguj" pod tym tekstem.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <form method="post" th:action="@{/index}">
                    <button class="btn btn-light btn-lg px-4 me-md-2" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>

<div th:replace="~{general :: waves}"></div>

<div th:replace="~{general :: scripts}"></div>
<script th:src="@{js/script.js}" type="text/javascript"></script>

</body>
</html>