<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{general :: head (pageTitle='Error')}"></head>
<body>

<nav th:replace="~{general :: navbar}"></nav>

<article>
    <div class="container col-xxl-8 px-4 py-5 article-container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img th:src="@{images/undraw_page_not_found_re_e9o6.svg}" width="500" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    404
                </h1>
                <p class="lead">
                    Page not found
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-light btn-lg px-4 me-md-2" th:href="@{/index}" role="button"><i class="fa-solid fa-right-to-bracket"></i>Powrót do strony głównej</a>
                </div>
            </div>
        </div>
    </div>
</article>

<div th:replace="~{general :: waves}"></div>

<div th:replace="~{general :: scripts}"></div>

</body>
</html>