<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head th:insert="~{general :: head (pageTitle='Welcome Page')}"></head>

  <body>
    <nav th:replace="~{general :: navbar}"></nav>

    <article>
      <div class="container col-xxl-8 px-4 py-5 article-container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img th:src="@{images/undraw_by_my_car_hnre.svg}" width="500" />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Szukasz nowego samochodu?
            </h1>
            <p class="lead">
              Mamy na to rozwiązanie! W naszej ofercie znajdziesz samochód idealny dla siebie.
              Już dziś skorzystaj z bazy danych naszego salonu CarMax i ciesz się nowym autem.
            </p>
            <div th:remove="tag" sec:authorize="isAuthenticated()">
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a
                        role="button"
                        class="btn btn-light btn-lg px-4 me-md-2"
                        th:href="@{/main}"
                >
                  <i class="fa-solid fa-house"></i> Twoja strona główna
                </a>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" sec:authorize="isAnonymous()">
              <a
                      role="button"
                      class="btn btn-light btn-lg px-4 me-md-2"
                      href="#"
              >
                <i class="fa-solid fa-user"></i>Sign up
              </a>
              <a
                      role="button"
                      class="btn btn-outline-light btn-lg px-4"
                      th:href="@{/main}"
              >
                <i class="fa-solid fa-right-to-bracket"></i>Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="container col-xxl-8 px-4">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 lh-1">
            <i class="fa-solid fa-car-side"></i>
          </a>
          <span class="mb-3 mb-md-0">© 2023 CarMax, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
        </ul>
      </footer>
    </div>

    <div th:replace="~{general :: waves}"></div>

    <div th:replace="~{general :: scripts}"></div>
  </body>
</html>
