<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head th:insert="~{general :: head (pageTitle='Welcome Page')}"></head>

  <body>
    <nav th:replace="~{general :: navbar}"></nav>

    <article>
      <div class="container col-xxl-8 px-4 py-5 article-container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img th:src="@{images/undraw_by_my_car_hnre.svg}" width="500" />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Responsive left-aligned hero with image
            </h1>
            <p class="lead">
              Quickly design and customize responsive mobile-first sites with
              Bootstrap, the world’s most popular front-end open source toolkit,
              featuring Sass variables and mixins, responsive grid system,
              extensive prebuilt components, and powerful JavaScript plugins.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#sign-up-modal"
                class="btn btn-light btn-lg px-4 me-md-2"
                href="#"
              >
                <i class="fa-solid fa-user"></i>Sign up
              </a>
              <a class="btn btn-outline-light btn-lg px-4 me-md-2" th:href="@{/main}" role="button"><i class="fa-solid fa-right-to-bracket"></i>Log in</a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="container col-xxl-8 px-4">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 lh-1">
            <i class="fa-solid fa-car-side"></i>
          </a>
          <span class="mb-3 mb-md-0">© 2023 CarMax, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
        </ul>
      </footer>
    </div>

    <div>
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(106,99,246,0.3"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(106,99,246,0.4)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(106,99,246,0.5)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(106,99,246)" />
        </g>
      </svg>
    </div>

    <div th:replace="~{general :: scripts}"></div>
  </body>
</html>
