<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{general :: head (pageTitle='Edit Salon')}"></head>
<body>
<nav th:replace="~{general :: navbar}"> </nav>


<form action="#" th:action="@{/update_salon}" th:object="${salon}" method="post">
  <table border="1" cellpadding="10">
    <tr>
      <td>Numer salonu</td>
      <td><input type="text" th:field="*{nr_salonu}" readonly="readonly"></td>
    </tr>
    <tr>
      <td>Nazwa</td>
      <td><input type="text" th:field="*{nazwa}"></td>
    </tr>
    <tr>
      <td>data_zalozenia</td>
      <td><input type="text" th:field="*{data_zalozenia}"></td>
    </tr>
    <tr>
      <td>numer_adresu</td>
      <td><input type="text" th:field="*{nr_adresu}"></td>
    </tr>
    <tr>
      <td>numer zbioru telefonow</td>
      <td><input type="text" th:field="*{nr_zbioru_telefonow}"></td>
    </tr>
    <tr>
      <td><button type="submit">Save</button></td>
    </tr>
  </table>
</form>

<div th:replace="~{general :: scripts}"></div>
</body>
</html>