<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{general :: head (pageTitle='Salony')}"></head>

<body>

<nav th:replace="~{general :: navbar}"></nav>

<div class="container col-xxl-8 px-4 py-5 article-container">
  <h1>Salony Samochodowe</h1>
  <div>
  <a class="btn btn-outline-light btn-sm px-4 me-md-2" th:href="@{/new_salon}" role="button"><i class="fa-solid fa-plus"></i>Dodaj nowy salon</a>
  </div>

  <table class="table table-striped table-dark table-hover table-centered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Data Założenia</th>
      <th scope="col">Numer Adresu</th>
      <th scope="col">Numer Zbioru Telefonów</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "salon : ${listSalon}">
      <th scope="row" th:text = "${salon.nr_salonu}">#</th>
      <td th:text = "${salon.nazwa}">Nazwa</td>
      <td th:text = "${salon.data_zalozenia}">Data Zalożenia</td>
      <td th:text = "${salon.nr_adresu}">Numer Adresu</td>
      <td th:text = "${salon.nr_zbioru_telefonow}">Numer Zbioru Telefonów</td>

      <td>
        <a class="edit" th:href="@{'/edit_salon/' + ${salon.nr_salonu}}"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
        <a class="delete" th:href="@{'/delete/' + ${salon.nr_salonu}}"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Delete"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:replace="~{general :: scripts}"></div>
<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

</body>
</html>